main.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  justify-content: flex-start;
  padding: 0 15px;
  padding-top: 100px;
  form.login-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    max-height: 370px;
    max-width: 574px;
    width: 100%;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label.form-label {
        color: #fff;
        font-weight: bold;
      }

      input.form-input {
        background-color: #d8f6ff;
        border-radius: 7px;
        font-size: 16px;
        outline: none;
        border: none;
        padding: 15px 35px 10px 10px;
        width: 100%;
        &:focus {
          border: 1px solid #367588;
        }
      }
      div.password-container {
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;

        img {
          cursor: pointer;
          opacity: 0.5;
          position: absolute;
          right: 5px;
          width: 30px;
        }
      }
    }

    div.form-submit {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      input[type="submit"].form-input {
        background: linear-gradient(to right, #367588, #94c5d4);
        border-radius: 7px;
        border: 1px solid rgba(255, 255, 255, 0.57);
        color: #ffff;
        font-size: 16px;
        font-weight: bold;
        max-width: 100px;
        width: 100%;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, #94c5d4, #367588);
        }

        &:active {
          transform: translateY(2px);
        }
      }

      .cadastro-user {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.img-container {
    max-width: 574px;
    max-height: 370px;
    img {
      width: 100%;
      // filter: drop-shadow(0 0 5px #0000003d);
    }
  }
}
