button.button {
  background: #367588;
  border-radius: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  outline: none;
  padding: 0 10px;
  &:hover {
    filter: invert(0.1);
  }
  &:active {
    transform: translateY(1px);
  }
}
