main.home {
  background: linear-gradient(0deg, #e4e4e45b, #e4e4e45b),  url("../../assets//keener.png") center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.309);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 1400px;
  width: 100%;

  nav.navbar-home {
    align-items: center;
    background-color: #1d3d47;
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    position: relative;

    img.logo-nav {
      width: 95px;
      border-radius: 7px;
    }

    a {
      align-items: center;
      display: flex;
      background: #367588;
      border-radius: 5px;
      color: #fff;
      padding: 7px;
      text-decoration: none;
      &:hover {
        filter: invert(0.1);
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }

  header.header-home {
    display: flex;
    gap: 10px;
    margin-top: 60px;
    padding: 15px 7px;
    position: absolute;
    top: 0;
    max-width: 1400px;
    width: 100%;
    z-index: 1;
    background-color: #e4e4e4;
    box-shadow: 0 8px 15px #00000021;
  }
}
