#MYSQL CONNECTION
##renomeie este arquivo somente para .env
##coloque os dados corretos para realizar a conexão com o banco mysql

MYSQL_DATABASE = 'nome_do_banco'
MYSQL_USER = 'nome_do_usuario'
MYSQL_SENHA = 'senha_do_usuario'


SESSION_SECRET = 'secret_da_sua_section'